<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.ShopCmsUserMapper" >
  <resultMap id="BaseResultMap" type="com.test.pojo.ShopCmsUser" >
    <id column="cms_user_id" property="cmsUserId" jdbcType="BIGINT" />
    <result column="cms_user_name" property="cmsUserName" jdbcType="VARCHAR" />
    <result column="cms_user_pass" property="cmsUserPass" jdbcType="VARCHAR" />
    <result column="cms_user_img" property="cmsUserImg" jdbcType="VARCHAR" />
    <result column="cms_user_tel" property="cmsUserTel" jdbcType="VARCHAR" />
    <result column="cms_user_status" property="cmsUserStatus" jdbcType="TINYINT" />
    <result column="cms_user_auth" property="cmsUserAuth" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cms_user_id, cms_user_name, cms_user_pass, cms_user_img, cms_user_tel, cms_user_status, 
    cms_user_auth
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.test.pojo.ShopCmsUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_cms_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shop_cms_user
    where cms_user_id = #{cmsUserId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from shop_cms_user
    where cms_user_id = #{cmsUserId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.test.pojo.ShopCmsUserExample" >
    delete from shop_cms_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.test.pojo.ShopCmsUser" >
    insert into shop_cms_user (cms_user_id, cms_user_name, cms_user_pass, 
      cms_user_img, cms_user_tel, cms_user_status, 
      cms_user_auth)
    values (#{cmsUserId,jdbcType=BIGINT}, #{cmsUserName,jdbcType=VARCHAR}, #{cmsUserPass,jdbcType=VARCHAR}, 
      #{cmsUserImg,jdbcType=VARCHAR}, #{cmsUserTel,jdbcType=VARCHAR}, #{cmsUserStatus,jdbcType=TINYINT}, 
      #{cmsUserAuth,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.test.pojo.ShopCmsUser" >
    insert into shop_cms_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cmsUserId != null" >
        cms_user_id,
      </if>
      <if test="cmsUserName != null" >
        cms_user_name,
      </if>
      <if test="cmsUserPass != null" >
        cms_user_pass,
      </if>
      <if test="cmsUserImg != null" >
        cms_user_img,
      </if>
      <if test="cmsUserTel != null" >
        cms_user_tel,
      </if>
      <if test="cmsUserStatus != null" >
        cms_user_status,
      </if>
      <if test="cmsUserAuth != null" >
        cms_user_auth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cmsUserId != null" >
        #{cmsUserId,jdbcType=BIGINT},
      </if>
      <if test="cmsUserName != null" >
        #{cmsUserName,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserPass != null" >
        #{cmsUserPass,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserImg != null" >
        #{cmsUserImg,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserTel != null" >
        #{cmsUserTel,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserStatus != null" >
        #{cmsUserStatus,jdbcType=TINYINT},
      </if>
      <if test="cmsUserAuth != null" >
        #{cmsUserAuth,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.test.pojo.ShopCmsUserExample" resultType="java.lang.Integer" >
    select count(*) from shop_cms_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shop_cms_user
    <set >
      <if test="record.cmsUserId != null" >
        cms_user_id = #{record.cmsUserId,jdbcType=BIGINT},
      </if>
      <if test="record.cmsUserName != null" >
        cms_user_name = #{record.cmsUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.cmsUserPass != null" >
        cms_user_pass = #{record.cmsUserPass,jdbcType=VARCHAR},
      </if>
      <if test="record.cmsUserImg != null" >
        cms_user_img = #{record.cmsUserImg,jdbcType=VARCHAR},
      </if>
      <if test="record.cmsUserTel != null" >
        cms_user_tel = #{record.cmsUserTel,jdbcType=VARCHAR},
      </if>
      <if test="record.cmsUserStatus != null" >
        cms_user_status = #{record.cmsUserStatus,jdbcType=TINYINT},
      </if>
      <if test="record.cmsUserAuth != null" >
        cms_user_auth = #{record.cmsUserAuth,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shop_cms_user
    set cms_user_id = #{record.cmsUserId,jdbcType=BIGINT},
      cms_user_name = #{record.cmsUserName,jdbcType=VARCHAR},
      cms_user_pass = #{record.cmsUserPass,jdbcType=VARCHAR},
      cms_user_img = #{record.cmsUserImg,jdbcType=VARCHAR},
      cms_user_tel = #{record.cmsUserTel,jdbcType=VARCHAR},
      cms_user_status = #{record.cmsUserStatus,jdbcType=TINYINT},
      cms_user_auth = #{record.cmsUserAuth,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.test.pojo.ShopCmsUser" >
    update shop_cms_user
    <set >
      <if test="cmsUserName != null" >
        cms_user_name = #{cmsUserName,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserPass != null" >
        cms_user_pass = #{cmsUserPass,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserImg != null" >
        cms_user_img = #{cmsUserImg,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserTel != null" >
        cms_user_tel = #{cmsUserTel,jdbcType=VARCHAR},
      </if>
      <if test="cmsUserStatus != null" >
        cms_user_status = #{cmsUserStatus,jdbcType=TINYINT},
      </if>
      <if test="cmsUserAuth != null" >
        cms_user_auth = #{cmsUserAuth,jdbcType=TINYINT},
      </if>
    </set>
    where cms_user_id = #{cmsUserId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.test.pojo.ShopCmsUser" >
    update shop_cms_user
    set cms_user_name = #{cmsUserName,jdbcType=VARCHAR},
      cms_user_pass = #{cmsUserPass,jdbcType=VARCHAR},
      cms_user_img = #{cmsUserImg,jdbcType=VARCHAR},
      cms_user_tel = #{cmsUserTel,jdbcType=VARCHAR},
      cms_user_status = #{cmsUserStatus,jdbcType=TINYINT},
      cms_user_auth = #{cmsUserAuth,jdbcType=TINYINT}
    where cms_user_id = #{cmsUserId,jdbcType=BIGINT}
  </update>
  <select id="selectByCmsUserName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from shop_cms_user
    where cms_user_name = #{cmsUserName,jdbcType=VARCHAR}
  </select>
</mapper>