<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.test.*.controller" />
	<mvc:annotation-driven />
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	
	<!--200*1024*1024即200M resolveLazily属性启用是为了推迟文件解析，以便捕获文件大小异常 -->

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="209715200" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="resolveLazily" value="true" />
	</bean>

	<!-- 配置资源映射 -->
	<!-- 资源映射配置 -->
	<!--<mvc:resources location="/WEB-INF/js/" mapping="/js/**" />-->
	<!--<mvc:resources location="/WEB-INF/css/" mapping="/css/**" />-->
	<!--<mvc:resources location="/WEB-INF/images/" mapping="/images/**" />-->

    <!--<mvc:cors>
        <mvc:mapping allow-credentials="true" allowed-headers="Content-Type"
                     allowed-methods="POST, GET, OPTIONS, DELETE, PUT, HEAD"
                     allowed-origins="http://test.i.meituan.com"
                     max-age="3600" path="/**"/>
    </mvc:cors>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/ajax/shop/**"/> &lt;!&ndash;sso回调处理&ndash;&gt;
            <bean class="com.dianping.orderdish.framework.interceptor.ShopSsoInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>-->


</beans>
